SUPABASE_URL=your_supabase_url
SUPABASE_SERVICE_KEY=your_service_key
DISGENET_API_KEY=your_disgenet_key
REACTOME_API_URL=https://reactome.org/ContentService
CHEMBL_API_URL=https://www.ebi.ac.uk/chembl/api/data
USDA_API_KEY=your_usda_key
